<launch>
    <arg name="ns_" default="sting" />

    <rosparam file="$(find sting_control)/config/actuators.yaml" command="load" ns="$(arg ns_)/"/>
    <rosparam file="$(find sting_control)/config/joints.yaml" command="load" ns="$(arg ns_)/"/>
    <rosparam file="$(find sting_control)/config/transmissions.yaml" command="load" ns="$(arg ns_)/"/>
</launch>